@use '../../../../styles/' as *;

.mobile-table {
  padding-inline: rem(40);
  padding-block-end: rem(64);

  &__title {
    font-size: rem(12);
    letter-spacing: rem(2);
  }

  &__category {
    text-transform: uppercase;
    font-size: rem(10);
    letter-spacing: rem(1.67);
    color: lighten($black, 40%);
  }
  // width: 100%;
  th {
    text-align: left;
    // width: 100%;
    padding-block-start: rem(20);
  }
  td {
    padding: rem(10) rem(30);
    padding-inline-start: 0;
    // width: cal(100%/3);
    // text-align: center;
    width: calc(100vw / 3);
    // background-color: green;
  }
  img {
    width: rem(16);
  }

  thead {
    border-bottom: rem(1.5) solid $black;
    display: block;
    padding-block-end: rem(23);
  }

  div {
    border-bottom: rem(1.5) solid lighten($black, 70%);
  }
}

@media screen and (min-width: rem(700)) {
  .mobile-table {
    display: none;
  }
}
