@use '../../../styles/' as *;

.feature {
  text-align: center;
  padding-bottom: 0;

  &__title {
    padding-block: rem(48) rem(16);
    font-size: rem(18);
    line-height: rem(25);
  }

  &__description {
    font-size: rem(15);
    line-height: rem(25);
    color: lighten($color: $black, $amount: 50%);
  }

  &__image {
    width: rem(72);
    height: rem(72);
    aspect-ratio: 1/1;
    margin: 0 auto;
  }
}
