@use '../../../../styles/' as *;

.header {
  display: flex;
  align-items: center;
  gap: rem(210);
  padding-inline: rem(24);
  min-height: rem(72);
  position: relative;

  &__navigation {
    display: none;
  }

  &__link,
  &__invite-button {
    text-transform: uppercase;
    font-size: rem(12);
    letter-spacing: rem(2);
    font-weight: 700;
  }

  &__invite-button {
    background-color: $black;
    color: $white;
    padding: rem(12) rem(24);
    transition: 0.2s;
    display: none;

    &:hover {
      background-color: $light-grey;
      color: $black;
    }
  }

  &__link {
    &:hover {
      color: rgba(128, 128, 128, 0.7);
    }
  }

  &__hamburger {
    width: rem(40);
    aspect-ratio: 1;
    background: url('../../../../assets/shared/mobile/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &.close {
      background-image: url('../../../../assets/shared/mobile/close.svg');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 9999;
    }
  }

  &__navigation.active {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: rem(72);
    bottom: 40%;
    background-color: $white;
    z-index: 1001;
    transition: 0.2s;

    .display-invite-button {
      display: block;
      margin-inline: rem(24);
      font-size: rem(15);
      letter-spacing: rem(2.5);
      text-align: center;
    }

    .mobile {
      text-align: center;
      padding-block: rem(32);

      li {
        padding-block: rem(10);

        a {
          font-size: rem(15);
          letter-spacing: rem(2.5);
        }

        &:last-of-type {
          border-bottom: rem(2) solid lighten($black, 80%);
          margin-inline: rem(24);
          padding-block-end: rem(20);
        }
      }
    }
  }
}
@media screen and (min-width: rem(700)) {
  .header {
    padding-inline: rem(39);

    &__logo img {
      width: rem(170);
    }

    &__hamburger {
      display: none;
    }

    &__navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(37);
    }

    &__invite-button {
      display: block;
    }
  }
}
@media screen and (min-width: rem(1024)) {
  .header {
    padding-inline: rem(165);
  }
}
