@use '../../../../styles/' as *;

.compare-table {
  display: none;
}

@media screen and (min-width: rem(700)) {
  .compare-table {
    display: block;
    padding-block-end: rem(112);
    padding-inline: rem(40);

    &__title {
      text-align: center;
      font-size: rem(40);
      line-height: rem(48);
      letter-spacing: rem(4.17);
      text-transform: uppercase;
      padding-block-end: rem(64);
    }
    &__check {
      width: rem(16);
    }

    &__content {
      margin: 0 auto;
      border-collapse: collapse;
    }

    thead tr {
      border-bottom: rem(2) solid $black;
    }
    tbody tr {
      border-bottom: rem(1) solid $light-grey;
    }

    td,
    th {
      font-size: rem(12);
      letter-spacing: rem(2);
      text-transform: uppercase;
      font-weight: 700;
      padding-block: rem(28);
      padding-inline: rem(30);

      &:not(:first-of-type) {
        padding-inline: rem(35);
      }
    }

    td {
      text-align: left;

      &:not(:first-of-type) {
        text-align: center;
      }
    }

    th {
      text-align: center;
      &:first-of-type {
        text-align: left;
      }
    }
  }
}
