@use '../../../../styles/' as *;

.cta {
  display: flex;
  align-items: center;
  gap: rem(18);

  text-transform: uppercase;
  font-size: rem(12);
  letter-spacing: rem(2);
  font-weight: 700;

  .text {
    color: $white;
  }
}
.services {
  &__content {
    padding: rem(72) rem(33);
  }

  &__content.first {
    background-color: $black;
    color: $white;
  }

  &__title {
    font-weight: 700;
    font-size: rem(32);
    line-height: rem(40);
    letter-spacing: rem(3.33);
    text-transform: uppercase;
  }

  &__description {
    font-size: rem(15);
    line-height: rem(25);
    padding-block: rem(16) rem(23);
    color: rgba(0, 0, 0, 0.6);
  }

  .first &__description {
    color: rgba(255, 255, 255, 0.6);
  }

  &__illustration img {
    display: block;
    height: 100%;
  }
}

@media screen and (min-width: rem(700)) {
  .services {
    display: flex;
    flex-wrap: wrap;

    .one {
      order: 2;
    }

    .two {
      order: 1;
    }

    .three {
      order: 3;
    }

    .four {
      order: 4;
    }

    .five {
      order: 6;
    }

    .six {
      order: 5;
    }
    &__content {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-inline: rem(54);
    }
    &__content.first {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: rem(320);
        height: rem(8);
        background: green;
        background: $main-accent;
        background-repeat: no-repeat;
        top: 25%;
        left: 0;
        bottom: 20%;
        transform-origin: left;
        transform: rotate(90deg);
      }
    }
    &__illustration {
      width: 40%;
    }
  }
}
@media screen and (min-width: rem(1024)) {
  .services {
    &__content {
      width: 40%;
      padding-inline: rem(112);
    }
    &__illustration {
      width: 60%;
    }
  }
}
