@use '../../styles/' as *;

@media screen and (min-width: rem(700)) {
  .stories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: rem(1024)) {
  .stories {
    grid-template-columns: repeat(4, 1fr);
  }
}
