@use '../../styles/' as *;

.beta {
  padding-inline: rem(32);
  padding-block-end: rem(70);
  background-image: url('../../assets/shared/mobile/bg-beta.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-size: rem(32);
    line-height: rem(40);
    letter-spacing: rem(3.33);
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    width: rem(350);

    padding-block: rem(70) rem(24);
    position: relative;

    &::before {
      content: '';
      width: rem(150);
      height: rem(6);
      background: $main-accent;
      position: absolute;
      top: 0;
    }
  }

  .cta {
    justify-content: start;
  }
}

@media screen and (min-width: rem(700)) {
  .beta {
    padding: 0;
    background-image: url('../../assets/shared/tablet/bg-beta.jpg');

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;

    &__title {
      padding-inline-start: rem(39);
      padding-block: rem(76);

      width: 100%;

      &::before {
        content: none;
      }

      &::before {
        position: absolute;
        content: '';
        height: rem(8);
        background: $main-accent;
        width: 51.5%;
        transform: rotate(90deg);
        transform-origin: left;
        top: -1%;
        bottom: 0;
        left: 0;
      }
    }

    .cta {
      justify-self: end;
      padding-inline-end: rem(39);
    }
  }
}

@media screen and (min-width: rem(1024)) {
  .beta {
    background-image: url('../../assets/shared/desktop/bg-beta.jpg');

    &__title {
      font-size: rem(40);
      line-height: rem(48);
      letter-spacing: rem(4.17);
      padding-inline-start: rem(165);
      width: 85%;
    }

    .cta {
      padding-inline-end: rem(165);
    }
  }
}
