@use '../../styles/' as *;

.hero {
  &__illustration {
    img {
      display: block;
      height: 100%;
    }
  }

  &__content {
    padding-bottom: rem(79);
    padding-inline: rem(29);
    background-color: $black;
    color: $white;
  }

  &__title {
    font-size: rem(32);
    line-height: rem(40);
    letter-spacing: rem(3.33);
    text-transform: uppercase;
    padding-block: rem(79) rem(16);
    position: relative;

    &::before {
      content: '';
      height: rem(6);
      width: rem(100);
      background: $main-accent;
      position: absolute;
      top: 0;
    }
  }

  &__description {
    font-size: rem(15);
    line-height: rem(25);
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: rem(700)) {
  .hero {
    display: flex;

    &__illustration {
      order: 2;
      width: 40%;
    }
    &__content {
      order: 1;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-inline: rem(112);
      position: relative;

      &::before {
        position: absolute;
        top: 22%;
        left: 0;
        bottom: 30%;
        content: '';
        width: rem(160);
        height: rem(8);
        background: $main-accent;
        background-repeat: no-repeat;

        transform-origin: left;
        transform: rotate(90deg);
      }
    }

    &__title {
      &::before {
        content: none;
      }
    }
  }
}

@media screen and (min-width: rem(1024)) {
  .hero {
    &__content {
      padding-inline: rem(112);
      width: 40%;

      &::before {
        top: 30%;
        left: 0;
        bottom: 30%;
        content: '';
        width: rem(190);
        height: rem(8);
        // position: absolute;
        // content: '';
        // width: rem(200);
        // height: rem(8);
        // background: green;
        // background: $main-accent;
        // background-repeat: no-repeat;

        // top: 30%;
        // left: 0;
        // bottom: 20%;

        // transform-origin: left;
        // transform: rotate(90deg);
      }
    }

    &__illustration {
      width: 60%;
    }
  }
}
